## initialise

In [2]:
import pip

def import_or_install(package):
    try:
        __import__(package)
    except ImportError:
        pip.main(['install', package])

import_or_install("numpy")
import_or_install("pandas")
import_or_install("sklearn")

import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)

In [3]:
dict = {
    'Maths':[82,33,np.nan, 91],
    'Chemistry':[33,45, 34, np.nan],
    'Physics':[99, 33, 43, 12],
    'Biology':[44,23,np.nan, np.nan]
}

In [4]:
Before_imputation = pd.DataFrame(dict)
Before_imputation

   Maths  Chemistry  Physics  Biology
0   82.0       33.0       99     44.0
1   33.0       45.0       33     23.0
2    NaN       34.0       43      NaN
3   91.0        NaN       12      NaN

In [5]:
After_imputation = imputer.fit_transform(Before_imputation)
After_imputation

array([[82. , 33. , 99. , 44. ],
       [33. , 45. , 33. , 23. ],
       [62. , 34. , 43. , 33.5],
       [91. , 39.5, 12. , 33.5]])

In [6]:
Before_imputation.columns

Index(['Maths', 'Chemistry', 'Physics', 'Biology'], dtype='object')

In [7]:
After_imputation=pd.DataFrame(After_imputation,columns=Before_imputation.columns)
After_imputation

   Maths  Chemistry  Physics  Biology
0   82.0       33.0     99.0     44.0
1   33.0       45.0     33.0     23.0
2   62.0       34.0     43.0     33.5
3   91.0       39.5     12.0     33.5

In [8]:
dictX = {
    'Class A': [1,3,np.nan,4],
    'Class B': [6,np.nan,8,np.nan],
    'Class C': [5,4,2,3],
    'Class D': [9,np.nan,6,8]
}

X = pd.DataFrame(dictX)

X

   Class A  Class B  Class C  Class D
0      1.0      6.0        5      9.0
1      3.0      NaN        4      NaN
2      NaN      8.0        2      6.0
3      4.0      NaN        3      8.0

In [10]:
#Task 1: find number of NaN in each column
number_of_nan_column = X.isna().sum()
print("number_of_nan_column:")
print(number_of_nan_column)

#Task 2: Find total number of missing values in df
number_of_nan = number_of_nan_column.sum()
print("\nnumber_of_nan:")
print(number_of_nan)

#Task 3: Find percent of missing values in df
percent_of_missing = 100*(number_of_nan/X.size)
print("\npercent_of_missing:")
print(percent_of_missing, "%")

#Task 4: Drop the rows having missing values
X_dropped_rows = X.dropna(axis=1)
print("\ndf with rows filtered:")
print(X_dropped_rows)

#Task 5: Drop the columns having missing values
X_dropped_columns = X.dropna(axis=0)
print("\ndf with columns filtered:")
print(X_dropped_columns)

#Task 6: Fill the missing values with mean values
X_filled_mean = X.fillna(X.mean())
print("\nDataFrame with missing values filled with mean:")
print(X_filled_mean)

#Task 7: Use KNN imputer to impute the missing values
#Task 8: Save the imputed data in df Y
Y = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)
print("\nDataFrame with missing values imputed using KNN:")
print(X_imputed_knn)

number_of_nan_column:
Class A    1
Class B    2
Class C    0
Class D    1
dtype: int64

number_of_nan:
4

percent_of_missing:
25.0 %

df with rows filtered:
   Class C
0        5
1        4
2        2
3        3

df with columns filtered:
   Class A  Class B  Class C  Class D
0      1.0      6.0        5      9.0

DataFrame with missing values filled with mean:
    Class A  Class B  Class C   Class D
0  1.000000      6.0        5  9.000000
1  3.000000      7.0        4  7.666667
2  2.666667      8.0        2  6.000000
3  4.000000      7.0        3  8.000000

DataFrame with missing values imputed using KNN:
   Class A  Class B  Class C  Class D
0      1.0      6.0      5.0      9.0
1      3.0      7.0      4.0      8.5
2      3.5      8.0      2.0      6.0
3      4.0      7.0      3.0      8.0