## initialise

In [20]:
import pip

def import_or_install(package):
    try:
        __import__(package)
    except ImportError:
        pip.main(['install', package])

import_or_install("numpy")
import_or_install("pandas")
import_or_install("faker")
import_or_install("random")
import_or_install("uuid")

import numpy as np
import pandas as pd
from faker import Faker
from random import randint
import uuid

fake = Faker()

## testing Faker

In [5]:
print(fake.email())
print(fake.country())
print(fake.name())
print(fake.text())
print(fake.latitude(), fake.longitude())
print(fake.url())

wgalloway@example.net
Dominican Republic
Mary Steele
Training deal Mrs win. Much bank trade car per himself to everybody.
Really return bed nothing style mean. Just approach hair coach small decision too.
-57.595387 21.056492
https://www.ramos.com/

## generating a fake dataframe

In [9]:
data = pd.DataFrame()
def input_data(x):
    for i in range(0,x):
        data.loc[i,'id'] = randint(1,100)
        data.loc[i,'name'] = fake.name()
        data.loc[i,'address'] = fake.address()
        data.loc[i,'latitude'] = fake.latitude()
        data.loc[i,'longitude'] = fake.longitude()
    return data

input_data(10)

,id,name,address,latitude,longitude
0,44.0,Jaclyn Caldwell,"23600 Choi Inlet Apt. 939\nDavidville, NM 28822",70.254205,101.059975
1,44.0,Clifford Dennis,"00779 Alicia Isle\nEast Harryton, MA 70452",-62.4112035,-36.190472
2,15.0,Rebecca Walker,"89334 Foster Fields\nBoydport, OR 66660",80.9063735,173.266164
3,97.0,Mark Mcdonald,"390 French Row\nNew Robert, DE 96505",-9.765115,-126.759991
4,26.0,Tanya Garcia,"279 Carpenter Radial\nPort Jillport, UT 68863",10.2930555,-92.099088
5,31.0,Meghan Mendoza,"4363 Rhonda Ridge Suite 041\nPort Jasmineberg,...",59.1161045,158.787522
6,100.0,Jessica Blanchard,"791 Woodward Dale\nHuntmouth, GU 70985",32.047498,-86.047342
7,62.0,Alexandra Hunter,"5199 Elizabeth Brook\nPort Rebecca, WI 88114",-36.128062,152.125073
8,55.0,Derek Martin,"98633 Nicole Forges\nLake William, CO 89540",89.869293,38.261509
9,42.0,Sara Cruz PhD,"6820 Christopher Trace\nTimothyborough, MI 33062",-1.960211,36.496283

In [10]:
features = [
    "id",
    "gender",
    "subscriber",
    "name",
    "rating"
]

df = pd.DataFrame(columns = features)
df

Empty DataFrame
Columns: [id, gender, subscriber, name, rating]
Index: []

In [25]:
Faker.seed(42)
def generate_persons(num = 1):
    fake = Faker()
    rows = [{
        'person_id': fake.uuid4(),
        'first_name': fake.first_name(),
        'last_name': fake.last_name(),
        'address': fake.address(),
        'dob': fake.date_of_birth(minimum_age = 18, maximum_age = 75),
        'ssn': fake.ssn()
    }
    for x in range(num)
    ]
    return pd.DataFrame(rows)

persons = generate_persons(1000)

print(persons)

                                person_id first_name  last_name  \
0    bdd640fb-0667-4ad1-9c80-317fa3b1799d     Joshua     Walker
1    47229389-571a-4876-ac30-7511b2b9437a       Eric    Bernard
2    11ce5dd2-b45e-41f0-b139-d32c93cd59bf    Brandon      Perez
3    fd5166e6-451b-4cf3-a123-fdf77656af72       Sara      Watts
4    663f1c97-9562-49f0-a5d7-b8756dadd6c7    Michael     Osborn
..                                    ...        ...        ...
995  5ee88627-3ee0-4165-b838-19b8932e02cc    Kathryn       Ryan
996  ec6874df-1c63-439b-a675-b03347eebcf2       Gina     Butler
997  e2d4c43c-de0a-4e83-bba8-6e1e34a148ba      James    Jenkins
998  eb287ab1-e4f0-4e67-ab93-c06bf3762c9c      Karen  Henderson
999  0a8a88d9-2ec8-47c7-b284-6e074cbe5d5d     Nicole   Mitchell

                                               address         dob  \
0        600 Jeffery Parkways\nNew Jamesside, MT 29394  1974-08-25
1             1559 Roman Stream\nHerrerafurt, CO 72858  1965-08-06
2       16475 Mitchell Fords\nJacquelineland, PA 83728  1958-07-09
3     30564 Jason Port Suite 376\nThomasberg, IA 98148  1981-02-25
4    01226 Paul Ranch Suite 848\nLake Jenniferside,...  1993-03-03
..                                                 ...         ...
995    7119 Patrick Avenue\nSouth Tammyhaven, FL 60978  1976-10-09
996  2643 Smith Ports Suite 372\nWest Rodney, NV 56286  1986-10-25
997  1642 Jennifer Loaf Suite 441\nSouth Guy, NJ 86810  2000-06-27
998  429 Lori Meadow Apt. 755\nNew Andreatown, CO 6...  1984-07-15
999  4172 Joseph Meadow Suite 386\nShanetown, GA 47547  1999-04-17

             ssn
0    285-01-2616
1    644-80-5926
2    747-32-2678
3    270-96-9578
4    349-15-4809
..           ...
995  039-42-6554
996  878-29-1824
997  536-47-7809
998  579-25-2826
999  792-69-6058

[1000 rows x 6 columns]

## UUID experimentation

In [28]:
num_users = 100
df = pd.DataFrame()
df['id'] = [str(uuid.uuid4()) for k in range(num_users)]
df

                                      id
0   781888f0-b104-47d1-bebc-8724641f362a
1   772f3ea7-344a-4345-92f4-12a8be7058ed
2   4e384971-9e27-4ccf-a230-f84f15b9ee75
3   e010926e-4632-4ca8-99cf-eab59496d426
4   7118283d-ae22-47b3-9554-79c6107f258e
..                                   ...
95  2a6ca7db-468c-494c-85db-637b645005a0
96  4557dba3-c8fc-4364-9b9d-41af8e048dd0
97  53d7ac67-3b47-407e-a8cf-b7dd39a8b932
98  5a26350c-bf50-477c-a0b8-3537a777bdac
99  ee5ab966-0ba6-4c84-9c9f-26eac357f90d

[100 rows x 1 columns]