## initialise

In [15]:
import pip

def import_or_install(package):
    try:
        __import__(package)
    except ImportError:
        pip.main(['install', package])

import_or_install("numpy")
import_or_install("pandas")
import_or_install("faker")
import_or_install("random")
import_or_install("uuid")

import numpy as np
import pandas as pd
from faker import Faker
import random
import uuid

fake = Faker()

## testing Faker

In [2]:
print(fake.email())
print(fake.country())
print(fake.name())
print(fake.text())
print(fake.latitude(), fake.longitude())
print(fake.url())

lisa65@example.net
Serbia
Mrs. Erica Chavez
Often beautiful indeed necessary remain. Employee daughter pay direction because.
Help talk arm threat. Hour style or course.
-54.4102095 80.341986
http://chen.com/

## generating a fake dataframe

In [3]:
data = pd.DataFrame()
def input_data(x):
    for i in range(0,x):
        data.loc[i,'id'] = randint(1,100)
        data.loc[i,'name'] = fake.name()
        data.loc[i,'address'] = fake.address()
        data.loc[i,'latitude'] = fake.latitude()
        data.loc[i,'longitude'] = fake.longitude()
    return data

input_data(10)

,id,name,address,latitude,longitude
0,11.0,Tina Valdez,"551 Garcia Shore Suite 261\nWest Connorbury, M...",18.775439,-120.964510
1,18.0,Daniel Bryant,"3895 Karen Fork\nLake Annaborough, DC 23910",-14.041851,-26.660531
2,7.0,Mariah Garcia,"328 Angela Spur\nBarnettmouth, FL 60269",-41.2157155,111.818105
3,77.0,Caleb Landry,"14517 Delgado Plaza Apt. 745\nJacksonton, IN 9...",-18.662965,142.797617
4,32.0,Pamela Copeland,"928 Zachary Inlet\nHortonborough, NY 23270",4.0916945,113.902024
5,59.0,Joshua Barton,"29519 James Gardens Suite 331\nScottfort, MD 8...",86.259352,-29.150332
6,54.0,Justin Vazquez,007 Gonzalez Greens Suite 511\nEast Kevinshire...,13.857113,113.644737
7,44.0,Christine Brown,"555 Barry Circles\nWest Elizabethshire, ND 01641",-68.613462,-165.841864
8,24.0,Tammie Buck,"886 Khan Islands\nPort Raymond, AL 85534",-81.167709,2.831341
9,80.0,Joseph Stuart,"095 Rhonda Plains\nGeraldtown, IL 02463",-56.297190,-51.068640

In [4]:
features = [
    "id",
    "gender",
    "subscriber",
    "name",
    "rating"
]

df = pd.DataFrame(columns = features)
df

Empty DataFrame
Columns: [id, gender, subscriber, name, rating]
Index: []

In [5]:
Faker.seed(42)
def generate_persons(num = 1):
    fake = Faker()
    rows = [{
        'person_id': fake.uuid4(),
        'first_name': fake.first_name(),
        'last_name': fake.last_name(),
        'address': fake.address(),
        'dob': fake.date_of_birth(minimum_age = 18, maximum_age = 75),
        'ssn': fake.ssn()
    }
    for x in range(num)
    ]
    return pd.DataFrame(rows)

persons = generate_persons(1000)

print(persons)

                                person_id first_name  last_name  \
0    bdd640fb-0667-4ad1-9c80-317fa3b1799d     Joshua     Walker
1    47229389-571a-4876-ac30-7511b2b9437a       Eric    Bernard
2    11ce5dd2-b45e-41f0-b139-d32c93cd59bf    Brandon      Perez
3    fd5166e6-451b-4cf3-a123-fdf77656af72       Sara      Watts
4    663f1c97-9562-49f0-a5d7-b8756dadd6c7    Michael     Osborn
..                                    ...        ...        ...
995  5ee88627-3ee0-4165-b838-19b8932e02cc    Kathryn       Ryan
996  ec6874df-1c63-439b-a675-b03347eebcf2       Gina     Butler
997  e2d4c43c-de0a-4e83-bba8-6e1e34a148ba      James    Jenkins
998  eb287ab1-e4f0-4e67-ab93-c06bf3762c9c      Karen  Henderson
999  0a8a88d9-2ec8-47c7-b284-6e074cbe5d5d     Nicole   Mitchell

                                               address         dob  \
0        600 Jeffery Parkways\nNew Jamesside, MT 29394  1974-08-26
1             1559 Roman Stream\nHerrerafurt, CO 72858  1965-08-07
2       16475 Mitchell Fords\nJacquelineland, PA 83728  1958-07-10
3     30564 Jason Port Suite 376\nThomasberg, IA 98148  1981-02-26
4    01226 Paul Ranch Suite 848\nLake Jenniferside,...  1993-03-04
..                                                 ...         ...
995    7119 Patrick Avenue\nSouth Tammyhaven, FL 60978  1976-10-10
996  2643 Smith Ports Suite 372\nWest Rodney, NV 56286  1986-10-26
997  1642 Jennifer Loaf Suite 441\nSouth Guy, NJ 86810  2000-06-28
998  429 Lori Meadow Apt. 755\nNew Andreatown, CO 6...  1984-07-16
999  4172 Joseph Meadow Suite 386\nShanetown, GA 47547  1999-04-18

             ssn
0    285-01-2616
1    644-80-5926
2    747-32-2678
3    270-96-9578
4    349-15-4809
..           ...
995  039-42-6554
996  878-29-1824
997  536-47-7809
998  579-25-2826
999  792-69-6058

[1000 rows x 6 columns]

## UUID experimentation

In [37]:
num_users = 100
df = pd.DataFrame()
df['id'] = [str(uuid.uuid4()) for k in range(num_users)]
print(df['id'].nunique()==num_users)
genders = ['male', 'female', 'na']
df['gender'] = random.choices(genders,weights=(45,45,10),k=num_users)
df.gender.value_counts()
choice = [True, False]

df['subscriber'] = random.choices(choice, k=num_users)

rating = [1,2,3,4,5]
weight = [1,3,7,3,1]

df['ratings'] = random.choices(rating, weights=weight, k=num_users)
print(df.ratings.value_counts())
df
df.to_csv('uuid_experiment.csv')

True
ratings
3    51
2    21
4    18
1     5
5     5
Name: count, dtype: int64